<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar Imagen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

  <h2 class="title">Subir Nueva Imagen</h2>

  <ion-item>
    <ion-label position="stacked">URL de la Imagen</ion-label>
    <ion-input placeholder="..." type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descripción</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

  <ion-button expand="block" class="btn-agregar">
    Guardar
  </ion-button>

</ion-content>
