.header{
  --background: #001f3f;   /* azul marino */
  --color: #ffffff;        /* texto blanco */
}
.btn-agregar {
  width: 70%;
  margin-left: 15%;
  margin-top: 25px;
  --background: #001f3f;   /* azul marino */
  --color: #ffffff;        /* texto blanco */
  --border-radius: 8px;
  font-weight: 600;
  margin-bottom: 20px;
}