.header{
  --background: #001f3f;   /* azul marino */
  --color: #ffffff;        /* texto blanco */
}

.registro-content {
  --background: #f4f5f8;
  padding: 16px;
}

ion-toolbar[color='primary'] {
  --background: #001f3f; /* azul marino */
  --color: #ffffff;
}

.registro-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 16px 0 24px 0;
  color: #001f3f;
}

.registro-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ion-item {
  --background: #ffffff;
  border-radius: 8px;
}

.btn-registrar {
  --background: #001f3f; /* azul marino */
  --color: #ffffff;      /* texto blanco */
  --border-radius: 8px;
  font-weight: 600;
  margin-top: 10px;
}
.text{
  
  --color: #001f3f;  
}